#### 1. Import pandas library

In [1]:
import pandas as pd
pd.options.display.max_rows = 100

#### 2. Import users table:

In [2]:
users = pd.read_csv("users_table.csv", sep=",")

#### 3. Rename Id column to userId

In [3]:
users = users.rename({"Id":"userId"}, axis=1)
users

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 4. Import posts table:

In [4]:
posts = pd.read_csv("posts_table.csv", sep=",")
posts

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,48321,2,NaN,2013-01-23 09:00:01,0,NaN,<p>you can use the matlab codes for svm and co...,19966.0,2013-01-23 09:00:01,NaN,...,NaN,0,NaN,NaN,NaN,NaN,45118.0,NaN,NaN,NaN
39996,48322,2,NaN,2013-01-23 09:09:34,3,NaN,"<p>I use <a href=""http://www.gnu.org/software/...",892.0,2013-01-23 13:13:30,NaN,...,NaN,2,NaN,892.0,2013-01-23 13:13:30,NaN,48311.0,NaN,NaN,NaN
39997,48323,2,NaN,2013-01-23 09:16:44,1,NaN,"<p>If I understand your question correctly, yo...",2020.0,2013-01-23 09:16:44,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48247.0,NaN,NaN,NaN
39998,48324,2,NaN,2013-01-23 09:36:07,3,NaN,"<p>Doesn't really help you with your question,...",19914.0,2013-01-23 09:36:07,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48297.0,NaN,NaN,NaN
39999,48325,1,NaN,2013-01-23 09:44:07,-1,116.0,"<p>I have 10 vectors each having 100,000 point...",19968.0,2013-02-22 11:23:54,are data sets obtained from a Normal distribut...,...,2.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts = posts.rename({"Id":"postId","OwnerUserId":"userId"}, axis=1)
posts

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,48321,2,NaN,2013-01-23 09:00:01,0,NaN,<p>you can use the matlab codes for svm and co...,19966.0,2013-01-23 09:00:01,NaN,...,NaN,0,NaN,NaN,NaN,NaN,45118.0,NaN,NaN,NaN
39996,48322,2,NaN,2013-01-23 09:09:34,3,NaN,"<p>I use <a href=""http://www.gnu.org/software/...",892.0,2013-01-23 13:13:30,NaN,...,NaN,2,NaN,892.0,2013-01-23 13:13:30,NaN,48311.0,NaN,NaN,NaN
39997,48323,2,NaN,2013-01-23 09:16:44,1,NaN,"<p>If I understand your question correctly, yo...",2020.0,2013-01-23 09:16:44,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48247.0,NaN,NaN,NaN
39998,48324,2,NaN,2013-01-23 09:36:07,3,NaN,"<p>Doesn't really help you with your question,...",19914.0,2013-01-23 09:36:07,NaN,...,NaN,0,NaN,NaN,NaN,NaN,48297.0,NaN,NaN,NaN
39999,48325,1,NaN,2013-01-23 09:44:07,-1,116.0,"<p>I have 10 vectors each having 100,000 point...",19968.0,2013-02-22 11:23:54,are data sets obtained from a Normal distribut...,...,2.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [6]:
users_columns = ["userId", "Reputation","Views","UpVotes","DownVotes"]
posts_columns = ["postId", "Score","userId","ViewCount","CommentCount"]

In [7]:
users_new = users[users_columns]
users_new

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
...       ...         ...    ...      ...        ...
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [8]:
#Check for Null in users_new
users_new_null = users_new.isnull().sum()
users_new_null

userId        0
Reputation    0
Views         0
UpVotes       0
DownVotes     0
dtype: int64

In [22]:
#Drop Duplicates
before_users_new = len(users_new)
users_new = users_new.drop_duplicates()
after_users_new = len(users_new)
print('Number of duplicate records dropped: ', str(before_users_new - after_users_new))

Number of duplicate records dropped:  0

In [30]:
posts_new = posts[posts_columns]
posts_new

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
...       ...    ...      ...        ...           ...
39995   48321      0  19966.0        NaN             0
39996   48322      3    892.0        NaN             2
39997   48323      1   2020.0        NaN             0
39998   48324      3  19914.0        NaN             0
39999   48325     -1  19968.0      116.0             4

[40000 rows x 5 columns]

In [31]:
#Check for null in posts
posts_new_null = posts_new.isnull().sum()
posts_new_null

postId              0
Score               0
userId           1038
ViewCount       24105
CommentCount        0
dtype: int64

In [33]:
before_posts_new = len(posts_new)
posts_new = posts_new.drop_duplicates()
after_posts_new = len(posts_new)
print('Number of duplicate records dropped: ', str(before_posts_new - after_posts_new))

Number of duplicate records dropped:  0

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [34]:
#How = "right", because I may want to keep track of all the posts (with unique postId)
#even if they do not have an associated user. They could have some informative meaning 

merged = users_new.merge(posts_new, on = "userId", how = "right")
merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,2175,0,NaN,0
1,-1.0,1.0,0.0,5007.0,1920.0,8576,0,NaN,0
2,-1.0,1.0,0.0,5007.0,1920.0,8578,0,NaN,0
3,-1.0,1.0,0.0,5007.0,1920.0,8981,0,NaN,0
4,-1.0,1.0,0.0,5007.0,1920.0,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
39995,NaN,NaN,NaN,NaN,NaN,46117,0,355.0,0
39996,NaN,NaN,NaN,NaN,NaN,46260,5,145.0,5
39997,NaN,NaN,NaN,NaN,NaN,46836,3,406.0,0
39998,NaN,NaN,NaN,NaN,NaN,46892,1,NaN,0
39999,NaN,NaN,NaN,NaN,NaN,47308,2,129.0,0

In [35]:
before_merged = len(merged)
merged_nodup = merged.drop_duplicates()
after_merged = len(merged_nodup)
print('Number of duplicate records dropped: ', str(before_merged - after_merged))

Number of duplicate records dropped:  0

In [41]:
#Check if NEGATIVES in "userId" is the only "meaningless" negative values
merged_col = list(merged.columns)

for c in merged_col:
    neg_val = (merged[c] < 0).sum()
    print(c,neg_val)

#YES, Score can actually be negative value...

userId 123
Reputation 0
Views 0
UpVotes 0
DownVotes 0
postId 0
Score 421
ViewCount 0
CommentCount 0

In [49]:
#Turn NEGATIVES entries in userId into POSITIVE
merged.loc[merged["userId"] < 0, "userId"] = abs(merged.loc[merged["userId"] < 0])
merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,1.0,1.0,0.0,5007.0,1920.0,2175,0,NaN,0
1,1.0,1.0,0.0,5007.0,1920.0,8576,0,NaN,0
2,1.0,1.0,0.0,5007.0,1920.0,8578,0,NaN,0
3,1.0,1.0,0.0,5007.0,1920.0,8981,0,NaN,0
4,1.0,1.0,0.0,5007.0,1920.0,8982,0,NaN,0
...,...,...,...,...,...,...,...,...,...
39995,NaN,NaN,NaN,NaN,NaN,46117,0,355.0,0
39996,NaN,NaN,NaN,NaN,NaN,46260,5,145.0,5
39997,NaN,NaN,NaN,NaN,NaN,46836,3,406.0,0
39998,NaN,NaN,NaN,NaN,NaN,46892,1,NaN,0
39999,NaN,NaN,NaN,NaN,NaN,47308,2,129.0,0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [50]:
merged_null = merged.isnull().sum()
merged_null

userId           1038
Reputation       1038
Views            1038
UpVotes          1038
DownVotes        1038
postId              0
Score               0
ViewCount       24105
CommentCount        0
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [51]:
#Apart for ViewCount other nulls represent the entries in "posts" without any associated entry
#in "users"... so I keep them
#ViewCount has 2/3 of rows with missing values...thus depending of the info
#I need I can:

#A) Remove the column if I don't want my analysis to be affected by this series
clean_merged1 = merged.drop("ViewCount", axis=1)
clean_merged1

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,CommentCount
0,1.0,1.0,0.0,5007.0,1920.0,2175,0,0
1,1.0,1.0,0.0,5007.0,1920.0,8576,0,0
2,1.0,1.0,0.0,5007.0,1920.0,8578,0,0
3,1.0,1.0,0.0,5007.0,1920.0,8981,0,0
4,1.0,1.0,0.0,5007.0,1920.0,8982,0,0
...,...,...,...,...,...,...,...,...
39995,NaN,NaN,NaN,NaN,NaN,46117,0,0
39996,NaN,NaN,NaN,NaN,NaN,46260,5,5
39997,NaN,NaN,NaN,NaN,NaN,46836,3,0
39998,NaN,NaN,NaN,NaN,NaN,46892,1,0
39999,NaN,NaN,NaN,NaN,NaN,47308,2,0

In [52]:
#B) Fill the column with 0s if I think the values can have some significance for future analysis
clean_merged2 = merged.fillna(0)
clean_merged2

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,1.0,1.0,0.0,5007.0,1920.0,2175,0,0.0,0
1,1.0,1.0,0.0,5007.0,1920.0,8576,0,0.0,0
2,1.0,1.0,0.0,5007.0,1920.0,8578,0,0.0,0
3,1.0,1.0,0.0,5007.0,1920.0,8981,0,0.0,0
4,1.0,1.0,0.0,5007.0,1920.0,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
39995,0.0,0.0,0.0,0.0,0.0,46117,0,355.0,0
39996,0.0,0.0,0.0,0.0,0.0,46260,5,145.0,5
39997,0.0,0.0,0.0,0.0,0.0,46836,3,406.0,0
39998,0.0,0.0,0.0,0.0,0.0,46892,1,0.0,0
39999,0.0,0.0,0.0,0.0,0.0,47308,2,129.0,0

In [53]:
#C) Fill column only with binary (True VS False) If for future analysis I only care if threre
#were views or not
clean_merged2.loc[(clean_merged2["postId"]!=0) & (clean_merged2["ViewCount"]!=0.0), "ViewCount"] = 1
clean_merged2

#Note: Did directly from clean_merged2 because 0s already substituted in right place.

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,1.0,1.0,0.0,5007.0,1920.0,2175,0,0.0,0
1,1.0,1.0,0.0,5007.0,1920.0,8576,0,0.0,0
2,1.0,1.0,0.0,5007.0,1920.0,8578,0,0.0,0
3,1.0,1.0,0.0,5007.0,1920.0,8981,0,0.0,0
4,1.0,1.0,0.0,5007.0,1920.0,8982,0,0.0,0
...,...,...,...,...,...,...,...,...,...
39995,0.0,0.0,0.0,0.0,0.0,46117,0,1.0,0
39996,0.0,0.0,0.0,0.0,0.0,46260,5,1.0,5
39997,0.0,0.0,0.0,0.0,0.0,46836,3,1.0,0
39998,0.0,0.0,0.0,0.0,0.0,46892,1,0.0,0
39999,0.0,0.0,0.0,0.0,0.0,47308,2,1.0,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [54]:
#Assumed to choose option of C) above for ViewCount column
clean_merged2.dtypes

userId          float64
Reputation      float64
Views           float64
UpVotes         float64
DownVotes       float64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

In [57]:
#I may want to keep both userId and postId as "non-number" values, thus object:
#I may want to fix the type of ViewCount to boolean, since I only care if True or False
#I may wanto to change the type of the rest of variables to int, since they cannot be floats
#based on the nature of their info

clean_merged2["userId"] = clean_merged2["userId"].astype("object")
clean_merged2["postId"] = clean_merged2["postId"].astype("object")
clean_merged2["ViewCount"] = clean_merged2["ViewCount"].astype("bool")

res_col = ["Reputation","Views","UpVotes","DownVotes","Score","CommentCount"]
#lean_merged2["Reputation"] = clean_merged2["Reputation"].astype("int")
for c in res_col:
    clean_merged2[c]=clean_merged2[c].astype("int")
clean_merged2.dtypes

userId          object
Reputation       int64
Views            int64
UpVotes          int64
DownVotes        int64
postId          object
Score            int64
ViewCount         bool
CommentCount     int64
dtype: object

In [58]:
clean_merged2

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,1,1,0,5007,1920,2175,0,False,0
1,1,1,0,5007,1920,8576,0,False,0
2,1,1,0,5007,1920,8578,0,False,0
3,1,1,0,5007,1920,8981,0,False,0
4,1,1,0,5007,1920,8982,0,False,0
...,...,...,...,...,...,...,...,...,...
39995,0,0,0,0,0,46117,0,True,0
39996,0,0,0,0,0,46260,5,True,5
39997,0,0,0,0,0,46836,3,True,0
39998,0,0,0,0,0,46892,1,False,0
39999,0,0,0,0,0,47308,2,True,0

###BONUS: Outliers
The only columns for which we can reasonably talk of outliers are:

Reputation; UpVotes; DownVotes; Score; CommentCount

In [72]:
out_col = ["Reputation","UpVotes","DownVotes","Score","CommentCount"]

#Check AVERAGE values
for c in out_col:
    avg = clean_merged2.agg({ c :'mean'}) #.groupby(c, as_index=False)... NO grouping needed
    avg.columns = [c, 'Average']
    print(avg)

Reputation    7092.14735
dtype: float64
UpVotes    891.060625
dtype: float64
DownVotes    42.703375
dtype: float64
Score    4.0865
dtype: float64
CommentCount    2.011525
dtype: float64

In [73]:
#Check MIN Values
for c in out_col:
    minimum = clean_merged2.agg({ c :'min'}) #.groupby(c, as_index=False)... NO grouping needed
    print(minimum)

Reputation    0
dtype: int64
UpVotes    0
dtype: int64
DownVotes    0
dtype: int64
Score   -19
dtype: int64
CommentCount    0
dtype: int64

In [81]:
#Check MAX Values
for c in out_col:
    maximum = clean_merged2.agg({ c :'max'}) #.groupby(c, as_index=False)... NO grouping needed
    print(maximum)

Reputation    87393
dtype: int64
UpVotes    11442
dtype: int64
DownVotes    1920
dtype: int64
Score    192
dtype: int64
CommentCount    45
dtype: int64

In [82]:
clean_merged2["Reputation"].max()

87393

In [89]:
#Since Posts with MAX values for Reputation, UpVotes and DownVotes are extremely
#far from the MEAN values, we can consider them outliers of the dataset

outliers = clean_merged2[(clean_merged2["Reputation"] == clean_merged2["Reputation"].max())
                             | (clean_merged2["UpVotes"] == clean_merged2["UpVotes"].max())
                             | (clean_merged2["DownVotes"] == clean_merged2["DownVotes"].max())]
outliers

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,1,1,0,5007,1920,2175,0,False,0
1,1,1,0,5007,1920,8576,0,False,0
2,1,1,0,5007,1920,8578,0,False,0
3,1,1,0,5007,1920,8981,0,False,0
4,1,1,0,5007,1920,8982,0,False,0
...,...,...,...,...,...,...,...,...,...
9014,1036,8236,1305,11442,43,38660,3,False,1
9015,1036,8236,1305,11442,43,40460,2,False,7
9016,1036,8236,1305,11442,43,44943,6,False,0
9017,1036,8236,1305,11442,43,45099,11,False,2
9018,1036,8236,1305,11442,43,47231,0,False,0

In [91]:
outliers.to_csv('outliers.csv', index=False)